<main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card-header border border-dark p-3" style="background-color:#292b2c">
                        <h4 style="font-style:bold;color:goldenrod;text-align:left">Contact With Us</h4>
                    </div>
                    <div class="card-body border border-dark">
                        <form name="my-form" action="contact.html" method="post"><br>

                            <div class="form-group row p-3">
                                <label for="name" class="col-md-4 col-form-label text-md-right  "><b><i class="fas fa-pen-alt mr-2"></i>Your Name</b></label>
                                <div class="col-md-6">
                                    <input type="text" id="name" class="form-control border border-dark" name="name" placeholder="name" required>
                                </div>
                            </div>

                            <div class="form-group row p-3">
                                <label for="phonenumber" class="col-md-4 col-form-label text-md-right"><b><i class="fas fa-pen mr-2"></i>Phone Number</b></label>
                                <div class="col-md-6">
                                    <input id="phonenumber" class="form-control border border-dark" type="text" name="phonenumber" placeholder="phonenumber" required>
                                </div>
                            </div>

                            <div class="form-group row p-3">
                                <label for="mail" class="col-md-4 col-form-label text-md-right  "><b><i class="fas fa-pen-alt mr-2"></i>Mail Id</b></label>
                                <div class="col-md-6">
                                    <input type="text" id="mail" class="form-control border border-dark" name="mail" placeholder="Mail" required>
                                </div>
                            </div>

                            <div class="form-group row p-3">
                                <label for="comment" class="col-md-4 col-form-label text-md-right  "><b><i class="fas fa-pen-alt mr-2"></i>Leave your Comment</b></label>
                                <div class="col-md-6">
                                    <input type="text" id="comment" class="form-control border border-dark" name="comment" placeholder="Comment" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4 p-2">
                                <button type="submit" class="btn" style="background-color:#292b2c;color:goldenrod" name="submit" value="submit">
                                    Submit
                                </button>
                            </div>
                            <div class="col-md-6 p-5">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.5464987665464!2d76.5821055740531!3d9.37333748350589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06247260536859%3A0x47b80c2e1ce414bd!2sMACFAST%20%7C%20Tiruvalla!5e0!3m2!1sen!2sin!4v1699937584749!5m2!1sen!2sin" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
                            </div>
                            <br>
                        </form>
                    </div>
                   
                </div>
            </div>
  
    </div>
</main>
<br><br>