<section id="footer" class="myfooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                <p><u><b>KERALA TRAVEL TOURISM</b></u> make your day by planning high with us</p>
                <p class="h6">Copy All right Reversed.<a class="text-green ml-2" href="https://www.google.com" target="_blank"></a></p>
                <p>Developed by Sandra</p>
            </div>
        </div>
    </div>
  </section>
