<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <div class="container-fluid">
    <a class="float-left" href="index.html">
      <img src="https://image.pngaaa.com/425/5799425-middle.png" class="float-left mr-2 moblogo" alt="Logo" style="height:50px;">
    </a>
    <a class="navbar-brand text-warning fw-bold" href="/"><p class="fs-2 p-2">KERALA TRAVEL TOURISM</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" align-content-end>
          <a class="nav-link active" aria-current="page" routerLink="/">
            <button type="button" class="btn btn-outline-warning">Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/districts">
            <button type="button" class="btn btn-outline-warning">District</button></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="contact">
            <button type="button" class="btn btn-outline-warning">Contact</button></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <button type="button" class="btn btn-outline-warning">Login</button></a>
          </li>
          <form class="d-flex p-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
          </form>
      </ul>
  </div>
  </div>
</nav>