<main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8"><br>
                <div class="card">
                    <div class="card-header border border-dark" style="background-color:#292b2c">
                        <h4 style="font-style:bold;color:goldenrod;text-align:left">Login</h4>
                    </div>
                    <div class="card-body border border-dark">
                        <form name="my-form" action="login.html" method="post">

                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right  "><b><i class="fas fa-pen-alt mr-2"></i>User Name</b></label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control border border-dark" name="username" placeholder="Username" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="p1" class="col-md-4 col-form-label text-md-right"><b><i class="fas fa-lock mr-2"></i>Password</b></label>
                                <div class="col-md-6">
                                    <input id="p1" class="form-control border border-dark" type="password" name="password" placeholder="Password" required>
                                </div>
                            </div><br>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn " style="background-color:#292b2c;color:goldenrod" name="login" value="Login">
                                    Login
                                </button>
                            </div>
                            <br>
                            <div class="col-md-6 offset-md-4">
                                <label id="createaccount"><a routerLink="/signup"><b style="color:black"> Create a new account</b></a></label>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br><br><br><br><br>
